<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en"}}">

<head>
  {% include head.html %}
</head>

  <body class="page">

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
{{ content | regex_replace: '\<a class\="details" href\="\/papers\/.*\.html"\>DetailsToRemove\<\/a\>', '' }}
      </div>
        <a style="text-decoration:none" href="mailto:ale.trapasso@gmail.com" class="image-link"> <p style="text-align:center"> <img width="100" height="22"  style="margin-bottom:5px" src="gmail.png" border="0"> <span><b> ale.trapasso8@gmail.com</b></span></p></a>
      <a style="text-decoration:none" href="https://it.linkedin.com/in/alessandro-trapasso" class="image-link"> <p style="text-align:center"> <img width="100" height="25"  style="margin-bottom:8px" src="LI-Logo.png" border="0"> <span><b>Alessandro Trapasso</b></span></p></a>
        <a style="text-decoration:none" href="https://github.com/Alee08/" class="image-link"> <p style="text-align:center"> <img width="100" height="25"  style="margin-bottom:8px" src="GitHub_logo.png" border="0"> <span><b>Alee08</b></span></p></a>

    </main>

    {% include footer.html %}

  </body>

  {% include scripts/jquery.html %}
  {% include scripts/bootstrap.html %}
  {% include scripts/jquery-ui.html %}
  {% include scripts/mansory.html %}
  {% include scripts/disqus-post-body.html %}
  {% include scripts/misc.html %}

</html>
