<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include scripts/mathjax.html %}
    <script src="{{ '/assets/js/distillpub/template.v2.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/distillpub/transforms.v2.js' | relative_url }}"></script>
    {% if page._styles %}
    <style type="text/css">
      {{ page._styles }}
    </style>
    {% endif %}
  </head>

  <d-front-matter>
    <script async type="text/json">{
      "title": "{{ page.title }}",
      "description": "{{ page.description }}",

      "published": "{{ page.date | date: "%Y-%m-%d" }}",
      "authors": [
        {% for author in page.authors %}
        {
          "author": "{{ author.name }}",
          "authorURL": "{{ author.url }}",
          "affiliations": [
            {% if author.affiliations %}
            {
              "name": "{{ author.affiliations.name }}",
              "url": "{{ author.affiliations.url }}"
            }
            {% endif %}
          ]
        }{% if forloop.last == false %},{% endif %}
        {% endfor %}
      ],
      "katex": {
        "delimiters": [
          {
            "left": "$",
            "right": "$",
            "display": false
          },
          {
            "left": "$$",
            "right": "$$",
            "display": true
          }
        ]
      }
      {% if page.nft_url %},
      "nftUrl": "{{ page.nft_url }}"
      {%  endif %}
      {% if page.has_pdf %},
      "hasPdf": true
      {%  endif %}

    }</script>
  </d-front-matter>

  <body class="page">

    <!-- Header -->

    {% include header.html %}

    <!-- Content -->
    <main class="page-content" aria-label="Content">
    <div class="post distill">

      <d-title>
        <h1>{{ page.title }}</h1>
        <p>{{ page.description }}</p>
      </d-title>

      <d-byline></d-byline>

      <d-article class="l-body">
        {{ content }}
        <div>
        <a style="text-decoration:none" href="/assets/Multi_UAV/Tesi.pdf" class="image-link"> <p style="text-align:left"> <img width="5%" height="5%"   style="margin-bottom:30px" src="/assets/Multi_UAV/pdf.png" border="0"> <span><b>MSc. Thesis - Alessandro Trapasso</b></span></p></a>
        <a style="text-decoration:none" href="https://github.com/Alee08/MultiUAV-RL-RB" class="image-link"> <p style="text-align:center"> <img width="100" height="25"  style="margin-bottom:8px" src="./assets/logo/GitHub_logo.png" border="0"> <span><b>MultiUAV-RL-RB</b></span></p></a>

        </div>
      <hr>



      <!-- disqus comments -->
      {% if page.comments %}
        {% include scripts/disqus.html %}
      {% endif %}

      </d-article>
        <a style="text-decoration:none" href="mailto:ale.trapasso@gmail.com" class="image-link"> <p style="text-align:center"> <img width="100" height="21" style="margin-bottom:5px" src="/assets/logo/gmail.png" border="0"> <span><b> ale.trapasso8@gmail.com</b></span></p></a>
        <a style="text-decoration:none" href="mailto:trapasso@diag.uniroma1.it" class="image-link"> <p style="text-align:center"> <img width="90" height="21"  style="margin-bottom:5px" src="/assets/logo/diag_logo2.jpg" border="0"> <span><b> trapasso@diag.uniroma1.it</b></span></p></a>
        <a style="text-decoration:none" href="https://it.linkedin.com/in/alessandro-trapasso" class="image-link"> <p style="text-align:center"> <img width="100" height="24" style="margin-bottom:8px" src="/assets/logo/LI-Logo.png" border="0"> <span><b>Alessandro Trapasso</b></span></p></a>
        <a style="text-decoration:none" href="https://github.com/Alee08/" class="image-link"> <p style="text-align:center"> <img width="100" height="24" style="margin-bottom:8px" src="/assets/logo/GitHub_logo.png" border="0"> <span><b>Alee08</b></span></p></a>

      <d-appendix>
        <d-footnote-list></d-footnote-list>
        <d-citation-list></d-citation-list>
      </d-appendix>

      <d-bibliography src="./{{ page.bibliography }}">
      </d-bibliography>
    </div>
  </main>
    <!-- Footer -->

    {% include footer.html %}

  </body>

  {% include scripts/jquery.html %}
  {% include scripts/bootstrap.html %}
  {% include scripts/mansory.html %}
  {% include scripts/misc.html %}


</html>